$box_shadow_nav: 0px 12px 24px rgba(130, 130, 130, 0.1);

$box_shadow_card: 0px 8px 28px -6px rgba(103, 103, 103, 0.1),
  0px 18px 88px -4px rgba(103, 103, 103, 0.1);

$box_shadow_card_slider: 0px -8px 15px rgba(0, 0, 0, 0.05),
  0px 8px 28px -6px rgba(103, 103, 103, 0.1),
  0px 18px 88px -4px rgba(103, 103, 103, 0.1);

$filter_shadow: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
